<div class="my-20">
    <form action="/exolist" method="get" class="flex flex-col items-center">
        <!-- Search box -->
        <div class="w-96 mb-4 text-center">
            <label for="search_query" class="block text-lg font-semibold text-primary mb-2">Zoek op naam:</label>
            <input type="text" name="search_query" id="search_query" class="input" placeholder="Enter a name">
        </div>

        <!-- Filter options -->
        <div class="flex flex-wrap justify-center space-x-4">
            <div class="mb-5">
                <label for="active_passive_filter" class="block text-lg font-semibold text-primary mb-2">Type:</label>
                <select name="active_passive" id="active_passive_filter" class="select">
                    <option value="">Kies Type</option>
                    <option value="actief">Actief</option>
                    <option value="passief">Passief</option>
                </select>
            </div>

            <div class="mb-5">
                <label for="manufacturer_filter" class="block text-lg font-semibold text-primary mb-2">Fabrikant:</label>
                <select name="manufacturer" id="manufacturer_filter" class="select" multiple>
                    <!-- Manufacturer options -->
                    <option value="">Meer als een Fabrikant gebruik ctrl+klik</option>
                    <option value="AGADE">AGADE</option>
                    <option value="Archelis Inc">Archelis Inc</option>
                    <!-- Additional options... -->
                </select>
            </div>

            <div class="mb-5">
                <label for="material_filter" class="block text-lg font-semibold text-primary mb-2">Materiaal:</label>
                <select name="material" id="material_filter" class="select">
                    <!-- Material options -->
                    <option value="">Kies Materiaal</option>
                    <option value="harde materialen">Harde Materialen</option>
                    <!-- Additional options... -->
                </select>
            </div>

            <div class="mb-5">
                <label for="one_two_sided_filter" class="block text-lg font-semibold text-primary mb-2">Zijden:</label>
                <select name="one_two_sided" id="one_two_sided_filter" class="select">
                    <!-- Aantal Zijden options -->
                    <option value="">Kies Aantal Zijden</option>
                    <option value="eenzijdig">Eenzijdig</option>
                    <!-- Additional options... -->
                </select>
            </div>
        </div>

        <!-- Apply and Reset buttons -->
        <div class="flex space-x-2 my-10">
            <button type="submit" class="btn btn-primary w-1/2">Filter</button>
            <a href="/exolist" class="btn btn-secondary w-1/2">Reset</a>
        </div>            
    </form>

    <div class="mt-10">
        <p class="text-lg font-bold text-primary text-center">Gekozen filter opties:</p>
        <div class="flex flex-wrap justify-center mt-2 -mx-2 my-2">
            <!-- Filter options display -->
            {% if active_passive_filter %}
            <div class="p-2 bg-gray-200 rounded-md mx-2 my-2">
                <span>Actief/Passief: {{ active_passive_filter }}</span>
            </div>
            {% endif %}
    
            {% if search_query %}
            <div class="p-2 bg-gray-200 rounded-md mx-2 my-2">
                <span>Naam: {{ search_query }}</span>
            </div>
            {% endif %}
    
            {% for mf in manufacturer_filter %}
            <div class="p-2 bg-gray-200 rounded-md mx-2 my-2">
                <span>Fabrikant: {{ mf }}</span>
            </div>
            {% endfor %}
    
            {% if material_filter %}
            <div class="p-2 bg-gray-200 rounded-md mx-2 my-2">
                <span>Materiaal: {{ material_filter }}</span>
            </div>
            {% endif %}
    
            {% if one_two_sided_filter %}
            <div class="p-2 bg-gray-200 rounded-md mx-2 my-2">
                <span>Eenzijdig/dubbelzijdig: {{ one_two_sided_filter }}</span>
            </div>
            {% endif %}
    
            {% if not (active_passive_filter or manufacturer_filter or material_filter or one_two_sided_filter or search_query) %}
            <div class="p-2 bg-gray-200 rounded-md mx-2 my-2">
                <span>Geen filter ingesteld</span>
            </div>
            {% endif %}
        </div>
    </div>  
</div>
