{% extends "base.html" %}

{% block head %}
    <title>Tool</title>
{% endblock %}

{% block navbar %}
    {% from "components/navbar.html" import navbar %}
    {{ navbar() }}
{% endblock %}

{% block header %}
    <h1 class="text-4xl text-center my-5 text-primary">Tool voor het vinden van het correcte exoskelet.</h1>
{% endblock %}

{% block body %}
    <div class="w-fit h-height-tool-homepage-cards m-auto flex justify-center align-baseline gap-4">
        <div class="card w-96 h-full border-2 border-black bg-base-100 shadow-xl relative flex flex-col justify-center">
            <figure><img src="../static/images/exoskeleton-poster.jpg" alt="exo"/></figure>
            <div class="card-body my-10">
                <h2 class="text-center text-xl font-bold">Ik zoek informatie over exoskeletten.</h2>
            </div>
            <a href="exolist">
                <button class="w-full h-20 btn-primary text-center text-xl font-bold text-white">Matching tool voor exoskeletten.</button>
            </a>
        </div>
        
        <div class="card w-96 h-full border-2 border-black bg-base-100 shadow-xl relative flex flex-col justify-center">
            <figure><img src="../static/images/exoskeleton-poster.jpg" alt="exo"/></figure>
            <div class="card-body my-10">
                <h2 class="text-center text-xl font-bold">Ik zoek waarvoor ik een specifiek exoskelet kan gebruiken.</h2>
            </div>
            <a href="exolist">
                <button class="w-full h-20 btn-primary text-center text-xl font-bold text-white">Matching tool voor exoskeletten.</button>
            </a>
        </div>  

        <div class="card w-96 h-full border-2 border-black bg-base-100 shadow-xl relative flex flex-col justify-center">
            <figure><img src="../static/images/exoskeleton-poster.jpg" alt="exo"/></figure>
            <div class="card-body my-10">
                <h2 class="text-center text-xl font-bold">Ik zoek mogelijke exoskeletten voor een professionele activiteit.</h2>
            </div>
            <a href="exolist">
                <button class="w-full h-20 btn-primary text-center text-xl font-bold text-white">Matching tool voor exoskeletten.</button>
            </a>
        </div> 
    </div>
{% endblock %}
