{% extends "base.html" %}

{% block head %}
    <title>Exolist</title>
{% endblock %}

{% block navbar %}
    {% from "components/navbar.html" import navbar %}
    {{ navbar() }}
{% endblock %}

{% block header %}
    <div class="my-10">
        <form action="/exolist" method="get" class="flex flex-col items-center">
            <!-- Filter options -->
            <div class="flex flex-wrap justify-center space-x-4">
                <div class="mb-5">
                    <label for="active_passive_filter" class="block text-lg font-semibold text-primary mb-2">Type:</label>
                    <select name="active_passive" id="active_passive_filter" class="select">
                        <option value="">Kies type</option>
                        <option value="actief">Actief</option>
                        <option value="passief">Passief</option>
                    </select>
                </div>

                <div>
                    <label for="joint_filter" class="block"><span class="text-lg font-semibold text-primary mb-2">Ontlast:</span> <br>
                        <span class="font-light text-2xs">shift+klik of ctrl+klik voor meerdere keuzes</span>
                    </label>
                    <select name="joint" id="joint_filter" class="select" multiple>
                        <!-- Manufacturer options -->
                        <option value="">Kies ontlast type</option>
                        <option value="rug">rug</option>
                        <option value="knie">knie</option>
                        <option value="heup">heup</option>
                        <option value="schouder">schouder</option>
                        <option value="nek">nek</option>
                    </select>
                </div>
                
                <div>
                    <label for="manufacturer_filter" class="block"><span class="text-lg font-semibold text-primary mb-2">Fabrikant:</span> <br>
                        <span class="font-light text-2xs">shift+klik of ctrl+klik voor meerdere keuzes</span>
                    </label>
                    <select name="manufacturer" id="manufacturer_filter" class="select" multiple>
                        <!-- Manufacturer options -->
                        <option value="">Kies fabrikant</option>
                        <option value="AGADE">AGADE</option>
                        <option value="Archelis Inc">Archelis Inc</option>
                        <option value="Astride Bionics">Astride Bionics</option>
                        <option value="Auxivo">Auxivo</option>
                        <option value="BeMedico">BeMedico</option>
                        <option value="Bioservo Technologies">Bioservo Technologies</option>
                        <option value="Comau">Comau</option>
                        <option value="Cyber Human Systems">Cyber Human Systems</option>
                        <option value="Ekso Bionics">Ekso Bionics</option>
                        <option value="Ergodyne">Ergodyne</option>
                        <option value="Ergosanté">Ergosanté</option>
                        <option value="Exomys - Augmented Humanity GmbH">Exomys - Augmented Humanity GmbH</option>
                        <option value="German Bionic">German Bionic</option>
                        <option value="HMT">HMT</option>
                        <option value="HeroWear">HeroWear</option>
                        <option value="Hunic">Hunic</option>
                        <option value="Laevo">Laevo</option>
                        <option value="Noonee">Noonee</option>
                        <option value="Ottobock Bionic Exoskeletons">Ottobock Bionic Exoskeletons</option>
                        <option value="Skelex">Skelex</option>
                    </select>
                </div>

                <div>
                    <label for="material_filter" class="block text-lg font-semibold text-primary mb-2">Materiaal:</label>
                    <select name="material" id="material_filter" class="select">
                        <!-- Material options -->
                        <option value="">Kies materiaal</option>
                        <option value="harde materialen">Harde Materialen</option>
                        <option value="zachte materialen">Zachte Materialen</option>
                    </select>
                </div>

                <div>
                    <label for="one_two_sided_filter" class="block text-lg font-semibold text-primary mb-2">Zijden:</label>
                    <select name="one_two_sided" id="one_two_sided_filter" class="select">
                        <!-- Aantal Zijden options -->
                        <option value="">Kies zijden</option>
                        <option value="eenzijdig">Eenzijdig</option>
                        <option value="dubbelzijdig">Dubbelzijdig</option>
                    </select>
                </div>

                <div>
                    <label for="compact_filter" class="block text-lg font-semibold text-primary mb-2">Compact:</label>
                    <select name="compact" id="compact_filter" class="select">
                        <!-- Aantal Zijden options -->
                        <option value="">Is compact</option>
                        <option value="ja">Ja</option>
                        <option value="nee">Nee</option>
                    </select>
                </div> 
                
                <div>
                    <label for="water_filter" class="block text-lg font-semibold text-primary mb-2">Waterbestendig:</label>
                    <select name="waterbestendig" id="water_filter" class="select">
                        <!-- Aantal Zijden options -->
                        <option value="">Is waterbestendig</option>
                        <option value="ja">Ja</option>
                        <option value="nee">Nee</option>
                    </select>
                </div>

                <div>
                    <label for="stof_filter" class="block text-lg font-semibold text-primary mb-2">Stofbestendig:</label>
                    <select name="stofbestendig" id="stof_filter" class="select">
                        <!-- Aantal Zijden options -->
                        <option value="">Is stofbestendig</option>
                        <option value="ja">Ja</option>
                        <option value="nee">Nee</option>
                    </select>
                </div>
            </div>
            
            <input class="input w-1/2 my-5 mx-auto text-center" type="text" name="search_query" id="search_query" placeholder="Zoeken op exoskelet naam of deel van de exoskelet naam">
    
            <div class="flex justify-center align-baseline w-1/2 space-x-5">
                <a href="/exolist" class="btn btn-secondary w-32">Reset</a>
                <button type="submit" class="btn btn-primary w-32">Filter</button>
            </div>            
        </form>
    </div>

    {% if active_passive_filter or search_query or manufacturer_filter or material_filter or one_two_sided_filter or compact_filter or water_filter or stof_filter %}
        <div class="mt-5">
            <p class="text-lg font-bold text-primary text-center">Gekozen filter opties:</p>
            <div class="flex flex-wrap justify-center mt-2 -mx-1 my-1">
                {% for filter_name, filter_value in {'Type': active_passive_filter, 'Zoekopdracht': search_query, 'Fabrikant': manufacturer_filter, 'Materiaal': material_filter, 'Aantal zijden': one_two_sided_filter, 'Compact': compact_filter, 'Waterbestendig': water_filter, 'Stof': stofbestendig_filter}.items() %}
                    {% if filter_value %}
                        <div class="p-1 bg-gray-200 rounded-md mx-1 my-1">
                            <span>{{ filter_name }}: {% if filter_name == 'Fabrikant' %}{{ filter_value|join(', ') }}{% else %}{{ filter_value }}{% endif %}</span>
                        </div>
                    {% endif %}
                {% endfor %}
                
                {% if not (active_passive_filter or manufacturer_filter or material_filter or one_two_sided_filter or search_query or compact_filter or water_filter or stof_filter) %}
                    <div class="p-1 bg-gray-200 rounded-md mx-1 my-1">
                        <span>Geen filter ingesteld</span>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block body %}
    <form action="action="/exolist" method="get"">

    </form>     
    {% for exoskeleton in exoskeletons %}
    <div class="card mb-6 lg:card-side bg-base-100 shadow-xl border border-black">
        <figure><img src="{{ url_for('static', filename='images/exoskeletons-resized-images/' ~ exoskeleton.Name ~ '.png') }}" alt="{{ exoskeleton.Name }}_resized" /></figure>
        <div class="card-body">
            <h2 class="ml-20 text-3xl text font-semibold text-primary">{{ exoskeleton.Name}}</h2>
            <div class="mt-10 ml-20 flex gap-5">
                <div class="w-1/2">
                    <p class="lowercase">
                        <span class="text-lg font-semibold text-primary capitalize">Ontlast: </span>
                        {% if exoskeleton.Joint %}
                            {{ exoskeleton.Joint|join(', ') }}
                        {% else %}
                            niet gekend
                        {% endif %}
                    </p>
                    <p> <span class="text-lg font-semibold text-primary">Type: </span>{{ exoskeleton.ActivePassive }}</p>
                    <p> <span class="text-lg font-semibold text-primary">Fabrikant: </span>{{ exoskeleton.Manufacturer }}</p>
                    <p> <span class="text-lg font-semibold text-primary">Materiaal: </span>{{ exoskeleton.Material }}</p>
                    <p> <span class="text-lg font-semibold text-primary">Aantal zijden: </span>{{ exoskeleton.OneTwoSided }}</p>
                </div>
                <div class="w-1/2">
                    <p class="text-lg font-semibold text-primary">Extra eigenschappen: </p>   
                    {% if exoskeleton.id in properties_dict %}
                        {% for property_value in properties_dict[exoskeleton.id] %}
                            <p class="lowercase">
                                <span class="text-lg font-semibold text-primary capitalize">{{ property_value.property }}: </span>
                                {% if property_value.value %}
                                    {{ property_value.value }}
                                {% else %}
                                    niet gekend
                                {% endif %}
                            </p>
                        {% endfor %}
                    {% else %}
                        Niet gekend
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-actions justify-end">
            <a class="h-full" href="{{ url_for('exoskeleton_details', exo_id=exoskeleton.id) }}">
                <button class="bg-primary h-full w-48 text-center text-xl font-bold text-white">Meer informatie</button>
            </a>
            
        </div>
    </div>
    {% endfor %}
    
{% endblock %}